table{    
    border: 1px solid #ddd;
    font-size: 1em;
}

body{
    font-family: "Lato";
}
table thead{    
    background-color: #004379;
    color: #fff;
}

table tbody{    
    border: none;
}

h3{
    color: #64C4E3;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 35px;
    margin-bottom: 7px;
}

#search-form{
    border: #E7EDF7 solid 1px;
    padding: 15px;
    background-color: #E7EDF7;
    overflow: hidden;
}

#search-form label{
    margin: 15px auto;
}

#search-form input[type="radio"]{
    margin-right: 4px;
    margin-top: 10px;
}

#logo{
    margin: 10px;
}

#header_sigpro{
    background-color: #005EA5;
    color: #fff;
    padding: 18px;
}

#header_sigpro a, #header_sigpro span{
    color: #fff;
    margin-right: 10px;
}

#search-form.index {
    margin: 100px auto;
}

#search-form h4{
    color: #005EA5;
    font-size: 1.5em;
    font-weight: bold;
}

footer{
    color: #fff;
    width: 100%;


}

footer .top{
    background-color: #005EA5;
    padding: 10px;
    overflow: hidden;
}

footer .top p{
    text-align: right;
    font-size: 0.9em;
    margin-bottom: 4px;
}

footer .top p.title{
    color: #7E9BBC;
    font-weight: bold;
    font-size: 1.2em;
}

footer .bottom{
    background-color: #0A2653;
    padding: 5px;
    font-size: 0.8em;
}

footer .bottom p{
    margin: 3px;
}

.popover.in{
    width: 500px;
    right: 40px;
    border-radius: 0px;
    border: none !important;
    padding: 0px !important;
}

.popover .popover-content{
    background-color: #4976B3;
    color: #fff;
    padding-top: 15px;

}

.popover .popover-content input{
    margin-bottom: 10px;

}

.popover.bottom > .arrow:after{
    border-bottom-color: #4976B3;
}
.btn-submit{
    background-color: #F7931E;
    border: #E6891E solid 1px;
    color: #fff;
    margin: auto;
    display: block;
}

.link{
    margin-top: 10px;
    font-weight: bold;
    border-right: 1px solid #9d9d9d;
}


.link.last{
    border: none;
}

.link .units{
    color: #FBBA00;
    padding-left: 20px;
}

.link .units:before{
    content: url(../image/icn_unidades.png);
    top: -7px;
    left: 8px;
    position: absolute;
}

.link .units:hover:before{
    content: url(../image/icn_unidades-hover.png);
    top: -6px;
}

.link .researchers{
    color: #64C4E3;
}

.link .researchers:before{
    content: url(../image/icn_investigadores.png);
    top: -7px;
    left: 8px;
    position: absolute;

}

.link .researchers:hover:before{
    content: url(../image/icn_investigadores-hover.png);
    top: -6px;
}

.link .projects{
    color: #73C067;
    margin-top: 10px;
}

.link .projects:before{
    content: url(../image/icn_proyectos.png);
    top: -7px;
    left: 20px;
    position: absolute;
}

.link .projects:hover:before{
    content: url(../image/icn_proyectos-hover.png);
    top: -7px;
    left: 21px;
}

.btn-submit:hover{
    background-color: #E6891E;
    color: #fff;
}

.pull-center{
}

h1{
    color: #8C9FCC; 
}

.type{
    padding: 10px;
    color: #fff;
    margin-bottom: 15px;
    width: fit-content;
}
.type{
    background-color: #8C9FCC;
}
.profile#researcher .type{
    background-color: #64C4E3;
}

.profile#project .type{
    background-color: #5DA551;
}

.profile#unit .type{
    background-color: #DD9F05;
}



.profile .state{
    font-weight: bold;
    color: #F7931E;
    font-size: 0.9em;
}

.profile .name{
    color: #005EA5;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: #9d9d9d solid 1px;
    margin-bottom: 10px;
}

.profile .id{
    color: #BDBDBD;
    font-size: 1.2em;
    margin-right: 5px;
}

.profile ul{
    list-style: none;
    padding-left: 0px;
}

.profile ul li span{
    color: #7798C6;
}

th{
    padding: 12px !important;
    font-weight: normal !important; 
}

td{
    padding: 12px !important;
    position: relative;
}

#extra_data{
    background-color: #F2F2F2;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
}

#extra_data p.title{
    color: #7798C6;
}

#extra_data div{
    border-right: 1px solid #BDBDBD;
    min-height: 110px;
}

#extra_data div:last-child{
    border-right: none;
}

.login-link{
    cursor: pointer;
    text-align: right;
    text-decoration: none;  
    text-transform: uppercase;
}

.login-link:hover{
    color: #ddd;
    text-decoration: none; 
}

.btn-search, .btn-login{
    margin: auto; 
    display: block;
    background-color: #F7931E;
    text-transform: uppercase;
    margin-top: 70px;
}

.btn-search img{
    width: 20px;
}

.text-info{
    color: #3A82B9;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0px;
}

#tresearchers .btn, #tprojects .btn{
    color: #fff;
}

.project_activo{
    color: #F79A2D;
}

.project_inactivo{
    color: #999999;
}


.project_activo:before{
    content: url(../image/icn_activo.png);
    position: absolute;
    left: -9px;
    top: 13px;

}

.project_inactivo:before{
    content: url(../image/icn_inactivo.png);
    position: absolute;
    left: -9px;
    top: 13px;
}